# --- 忽略数据文件 (绝对不能传) ---
mysql_data/
redis_data/
*.rdb
*.sql
# 注意：如果你那个 gin_project.sql 只是表结构，没有敏感数据，可以不忽略。
# 但如果你里面有真实用户的密码，必须忽略！

# --- 忽略配置文件 (包含密码) ---
config.yaml
.env

# --- 忽略编译产生的文件 ---
main
main.exe
app.exe
__debug_bin

# --- 忽略 IDE 和系统文件 ---
.idea/
.vscode/
.DS_Store

# --- 忽略日志 ---
logs/
*.log